.list-group-item {
  padding: 10px 0;
}

.list-item-counter {
  background-color: lightgrey;
  font-weight: bold;
  width: 100%;
  padding: 5px;
  border-radius: 4px 4px 0 0;
}

.list-item-url {
  padding: 5px;
  background-color: whitesmoke;
  border-radius: 0 0 4px 4px;
}

.url-add {
  width: 90%;
  float: left;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 4px;
}

.btn-form-right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.badge {
  background-color: lightgrey;
  padding: 5px;
  border-radius: 5px;
}

.active {
  background-color: green;
  color: white;
}
